.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 4%;
  }
  
  .show-image {
    
    max-width: 300px;
    max-height: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .show-image:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
  .info-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .show-title {
    font-size: 36px;
    margin-top: 0px;
  }
  
  .info-section {
    display: flex;
    flex-direction: row;

  }
  
  .info-label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 100px;
  }
  
  .book-button {
    margin: 2rem auto;
    display: block;
    background-color: rgba(109, 79, 239, 0.917);
    color: white;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  

  .info-text {
    margin-top: 4px;
    font-size: 18px;
    line-height: 1.5;
  }
  